/* ***********************************************************
                     general
************************************************************ */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


header{
    height: 60px;
    width: 100%;
}

main{
    width: 100%;
    height: calc(100vh - 60px);
}

#sidebar{
    height: 100%;
}

#main-content{
    height: 100%;
    overflow-y: auto;
}

.card-header h2{
    font-weight: 500;
}

.top-bar .badge{
    background-color: #165bba;
    margin-right: 2px;
    margin-top: 5px;
}


/* *****************************
             header
******************************** */

header .search input{
    width: calc(100% - 1em);
} 

header .logo img:last-child{
    max-width: 40px;
}

header .buttons .dropdown-toggle::after{
    display: none;
}

/* *****************************
             sidebar
******************************** */

#sidebar{
    background-image: url("../img/sidebar-bg.png");
    background-color: #051e34;
}

/* *****************************
             main table
******************************** */

.square{
    width: 2em;
    height: 2em;
    line-height: 1em;
    text-align: center;
}

table .square.btn{
    border: 1px solid black!important;
    padding-top: 7px!important;
}

#main-content table tr > td:first-child {
    width: 60%;
    text-align: left;
}

#main-content table tr > td:first-child img{
    vertical-align: middle;
}

#main-content table tr > td:nth-child(2) {
    min-width: 95px;
}

#main-content table tr > td:last-child {
    min-width: 85px;
}

/* *****************************
             main faq
******************************** */




/* ******************************
            media query
********************************* */
@media screen and (min-width: 768px){
    .offcanvas{
        width: 42%!important;
    }
}